 @media (max-width: 1200px) {
	.h-body{
		height:150px;
	}
}
 @media (max-width: 800px) {
 	.ic img{
 		width:150px;
 		height:150px;
 	}
}
 @media (max-width: 768px) {
	.productitem .color{
		margin:10px auto;
	}
	.productitem .h-body{
		margin:0 auto;
		width:230px;
		height:180px;
	}
	.productitem a{
		margin-bottom:40px;
	}
	.ic img{
		width:170px;
		height:170px;
	}
	.options{
		position:absolute;
		text-align:center;
		margin-left:0;
		width:250px;
	}
	.op img{
		width:50px;
		height:50px;
	}
	.informlogo{
		position:absolute;
		width:100px;
		margin-top:180px;
	}
	.right{
	text-align:left;
	}
	.askfedoralogo{
		float:none;
	}
}
@media (max-width: 537px) {
	.options{
		width:400px;
	}
}
@media (max-width: 480px) {
	.op img{
		width:35px;
		height:35px;
	}
}
@media (max-width:360px) {
	.fedoralogotext{
		height:20px;
	}
	.ic img{
		width:120px;
		height:120px;
	}
	.block{
		height:450px;
	}
	.options{
		width:300px;
		text-align:center;
	}
	.informlogo{
		margin-top:250px;
	}
}